:root {
  --primary: #27eba7;
  --secondary: #0e111f;
  --accent: #ffffff;
  --transparent: #ffffff0c;
  --font-primary: "Rubik", sans-serif;
}

h1 {
  color: var(--primary);
  font-family: var(--font-primary);
  font-weight: 600;
}

img {
  margin-top: 1rem;
  border-radius: 10rem;
  border: var(--accent);
  width: 7rem;
}

a:link {
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-align: center;
}

body {
  background: var(--secondary);
  overflow-x: hidden;
}

#icons {
  display: none;
}

.basicGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--transparent);
  font-size: 1rem;
  color: var(--accent);
  height: 2rem;
  width: 15rem;
  border: solid var(--accent);
  border-radius: 1rem;
  transition: all 500ms;
  overflow: hidden;
  padding: 0.5em;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border: var(--primary);
  transform: translateY(-3px) scale(1.1);
  transition: ease-in-out;
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px){
  .card {
    height: 2.5rem;
    width: 20rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .card {
    height: 3rem;
    width: 25rem;
  }
}
